body{
    background-image: linear-gradient(to bottom, #5fd4ff, #2516cf);
}
h1{
    color:white;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
}
.card{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    margin-right:10px;
}