body{
    background-image: linear-gradient(to bottom, #5fd4ff, #2516cf);
}
h1{
    color:white;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
}
.maintext:hover{
    color:#ffdd57;
    drop-shadow: 2px 4px 6px black;
}
.card{
    margin-top:5px;
    margin-bottom:5px;
    margin-left:40px;
    margin-right:40px;
}
.img-fluid{
    height:50%;
    width:50%;
    margin:auto;
}
/* 614 */